.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.numbers {
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #223d3f;

  h3 {
    font-size: 50px;
    margin-bottom: 20px;

    @media (max-width: 1140px) {
      font-size: 42px;
    }

    @media (max-width: 768px) {
      font-size: 32px;
      text-align: center;
    }
  }

  p {
    font-size: 20px;
    margin-top: 0;

    @media (max-width: 1140px) {
      font-size: 18px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      text-align: center;
    }
  }

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .num1,
    .num2,
    .num3,
    .num4 {
      flex: 1 1 40%;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .num1,
    .num2,
    .num3,
    .num4 {
      flex: 1 1 100%;
    }
  }
}
