.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.numbers {
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #223d3f;

  h3 {
    font-size: 50px;

    margin-bottom: 20px;
  }
  p {
    font-size: 20px;

    margin-top: 0px;
  }
}
