.box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px 0;
}
.container {
  width: 80vw;
}
.header {
  text-align: center;
  h1 {
    color: #1e1c1c;
  }
  p {
    color: #696969;
  }
}
.split {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.imgBox {
  text-align: center;
  margin-right: 60px;
  padding-top: 15px;
  color: #1e1c1c;
}
.quotesBox {
  display: flex;
  background-color: #eff1f5;
  padding: 35px 35px 35px 30px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 40px;
  width: 600px;
  img {
    width: 150px;
    height: 150px;
  }
  p {
    font-size: 18px;
    line-height: 1.77;
    font-weight: 500;
    color: #696969;
  }
}
