.box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px 0;
}

.container {
  width: 80vw;
}

.header {
  text-align: center;

  h1 {
    color: #1e1c1c;

    @media (max-width: 1024px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 36px;
    }

    @media (max-width: 480px) {
      font-size: 32px;
    }
  }

  p {
    color: #696969;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.split {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.imgBox {
  text-align: center;
  padding-top: 15px;
  color: #1e1c1c;

  h3 {
    margin-top: 10px;
  }

  p {
    margin-top: 5px;
  }

  img {
    width: 150px;
    height: 150px;

    @media (max-width: 768px) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: 480px) {
      width: 100px;
      height: 100px;
    }
  }
}

.quotesBox {
  display: flex;
  background-color: #eff1f5;
  padding: 35px 35px 35px 30px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 600px;

  @media (max-width: 1024px) {
    width: 80%;
    flex-direction: column;
    text-align: center;
    padding: 25px;
  }

  img {
    width: 150px;
    height: 150px;

    @media (max-width: 768px) {
      width: 120px;
      height: 120px;
    }

    @media (max-width: 480px) {
      width: 100px;
      height: 100px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.77;
    font-weight: 500;
    color: #696969;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
    }

    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}
