.box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 30px;
}
.container {
  width: 80vw;
  text-align: center;
  h1 {
    font-size: 50px;
    color: #1c1c1c;

    margin-bottom: 0;
  }
  p {
    color: #494949;
    margin-bottom: 40px;
  }
}
.split {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.categoryBox {
  margin: 20px;
  text-align: center;
  padding: 19px 0 0 0;
  background-color: #f5f5f5;
  font-weight: 600;
  &:nth-child(2) {
    padding-top: 0px;
  }
  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  p {
    margin-bottom: 19px;
  }
}
