.box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 30px;
}
.container {
  width: 80vw;
  h1 {
    font-size: 55px;
    color: #494949;
    font-weight: 500;
    letter-spacing: 3px;
  }
}
.productBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  align-items: center;
  margin-bottom: 30px;
  .last {
    display: flex;
    justify-content: right;
  }
  img {
    width: 150px;
    height: 150px;
    border: #494949 solid 1px;
    border-radius: 7px;
  }
  p {
    font-size: 30px;
  }

  .name {
    font-weight: 500;
    color: #494949;
  }
  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 32px;
      height: 32px;
      border: 1px solid white;
      border-radius: 50%;
      background-color: #fff;
      font-size: 28px;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    input {
      width: 50px;
      height: 42px;
      text-align: center;
      border: 1px solid #000;
      border-radius: 8px;
      font-size: 26px;
    }
  }
}
.oldPrice {
  text-decoration: line-through;
  color: #d5d2d2;
}
.newPrice {
  font-weight: 600;
}
.summary {
  width: 100%;
  border-bottom: black solid 2px;
  display: flex;
  justify-content: right;

  .summaryBox {
    width: 30%;
    border-top: black solid 2px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 25px;
    }
    .p1 {
      margin-left: 20px;
      color: #494949;
    }
    .p2 {
      font-weight: 500;
    }
  }
}
.splitData {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #494949;
  .clientInformation {
    border-right: black 2px solid;
    h1 {
      font-size: 45px;
      color: #494949;
      font-weight: 500;
    }
    p {
      font-size: 25px;
    }
    input {
      width: 170px;
      height: 25px;
    }
  }
  .payment {
    margin-left: 50px;
    h1 {
      font-size: 45px;
      color: #494949;
      font-weight: 500;
    }

    .checkPayment {
      display: flex;
      margin: 10px 0;
      color: #494949;
      p {
        font-size: 25px;
        margin-left: 10px;
      }
      input {
        width: 30px;
      }
      .radio {
        display: grid;
        place-content: center;
        appearance: none;
        margin: 27px 0 0;
        width: 30px;
        height: 30px;
        align-items: center;
        background-color: white;
        border: #494949 1px solid;
        border-radius: 50%;
      }
      .radio:checked {
        background-color: #494949;
      }
    }
    button {
      margin-top: 20px;
      text-align: center;
      height: 50px;
      width: 140px;
      font-size: 20px;
      color: black;
      font-weight: 500;
      background-color: white;
      border-radius: 7px;
      &:hover {
        color: white;
        background-color: #494949;
      }
    }
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; // nad całą stroną

  .modal {
    background-color: white;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    .title {
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 500;
    }
    .id {
      margin: 70px 0;
      font-weight: 700;
      font-size: 30px;
    }
    .closeBtn {
      height: 60px;
      width: 220px;
      background-color: #494949;
      color: white;
      transition: 0.2s;
      border-radius: 8px;
      font-weight: 500;
      &:hover {
        background-color: #fff;
        color: #494949;
        font-weight: 500;
        border: 2px solid #494949;
      }
    }
  }
}
