.box {
  display: flex;
  justify-content: center;
  background-color: #eff1f5;
  padding-bottom: 30px;
}
.container {
  width: 80vw;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  :link {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
}
.cart {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;

  position: relative;
  .user {
    width: 80px;
    position: relative;
  }
  .list {
    position: absolute;
    top: 100%;
    right: 10px;
    background: #fff;
    border: 1px solid #494949;
    margin: 0;
    padding: 5px;
    list-style: none;
    li {
      width: 80px;
      text-align: center;
    }
    button {
      border: none;
      background-color: white;
    }
  }
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
    position: relative;
  }

  .cartCount {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
}
