.box {
  display: flex;
  justify-content: center;
  background-color: #eff1f5;
  padding-bottom: 30px;
}

.container {
  width: 80vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-right: 15px;
  }
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  position: relative;

  .user {
    width: 80px;
    position: relative;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid black;
      padding: 5px;
    }

    .list {
      position: absolute;
      top: 100%;
      right: 10px;
      background: #fff;
      border: 1px solid #494949;
      margin: 0;
      padding: 5px;
      list-style: none;

      li {
        width: 80px;
        text-align: center;

        &:nth-child(1) {
          border-bottom: 1px solid #494949;
        }

        a,
        button {
          text-decoration: none;
          color: black;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .cartWrapper {
    position: relative;

    img.cartIcon {
      height: 40px;
      width: 40px;
      border: #494949 solid 1px;
      border-radius: 50%;
      padding: 6px;
    }

    .cartCount {
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      color: white;
      font-size: 12px;
      font-weight: 600;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }
}

/* -------------------- RESPONSYWNOŚĆ -------------------- */

/* Tablety i średnie ekrany: 1024px - 1439px */
@media (max-width: 1439px) and (min-width: 1024px) {
  .container {
    width: 90vw;
  }

  nav {
    grid-template-columns: 1fr 1fr;
  }

  .cart {
    gap: 20px;
  }

  .user .list li {
    width: 70px;
  }
}

/* Małe tablety i duże telefony: 768px - 1023px */
@media (max-width: 1023px) and (min-width: 768px) {
  nav {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .logo {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cart {
    justify-content: center;
    gap: 15px;
    .user .list {
      right: 0;
    }
  }
}

/* Telefony: <768px */
@media (max-width: 767px) {
  nav {
    grid-template-columns: 1fr;
    row-gap: 15px;
    padding-top: 20px;
  }

  .logo {
    flex-direction: column;
    align-items: center;
  }

  .cart {
    justify-content: center;
    gap: 10px;

    .user img {
      height: 35px;
      width: 35px;
    }

    .cartWrapper img.cartIcon {
      height: 35px;
      width: 35px;
    }

    .cartCount {
      width: 16px;
      height: 16px;
      font-size: 11px;
    }

    .user .list li {
      width: 70px;
      font-size: 14px;
    }
  }
}
