.box {
  display: flex;
  justify-content: center;
  background-color: #eff1f5;
  padding-top: 25px;
}

.container {
  width: 80vw;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0 80px 0;
  align-items: center;
  gap: 20px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px 0 60px 0;
  }
}

.text {
  padding-top: 10px;

  h1 {
    font-size: 50px;
    margin-bottom: 0px;

    @media (max-width: 1140px) {
      font-size: 42px;
    }

    @media (max-width: 768px) {
      font-size: 36px;
    }

    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  p {
    font-size: 20px;
    line-height: 35px;

    @media (max-width: 1140px) {
      font-size: 18px;
      line-height: 32px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 28px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 450px;
    height: 250px;

    @media (max-width: 1140px) {
      width: 380px;
      height: 210px;
    }

    @media (max-width: 768px) {
      width: 320px;
      height: 180px;
    }

    @media (max-width: 480px) {
      width: 260px;
      height: 150px;
    }
  }
}
