.box {
  display: flex;
  justify-content: center;
  background-color: #eff1f5;
  padding-top: 25px;
}
.container {
  width: 80vw;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0 80px 0;
}
.text {
  padding-top: 10px;
  h1 {
    font-size: 50px;
    margin-bottom: 0px;
    // font-family: "Playfair Display", sans-serif;
  }
  p {
    font-size: 20px;
    line-height: 35px;
  }
}
.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
