.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  color: #223d3f;

  h3 {
    font-size: 50px;

    margin-bottom: 20px;
  }
  p {
    font-size: 20px;

    margin-top: 0px;
  }
}

