.container2 {
  h4 {
    color: #1c1c1c;
    font-size: 28px;
    margin-bottom: 0;
  }
  p {
    color: #1c1c1c;
    font-weight: 600;
    font-size: 20px;
  }
  span {
    text-decoration: line-through;
    color: #d5d2d2;
    margin-left: 10px;
  }
}
.productImg {
  height: 350px;
  width: 350px;
}
.imgBox2 {
  position: relative;
  overflow: hidden;

  .showBox {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 8px 16px;

    display: flex;
    align-items: center;
    gap: 8px;

    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 2;

    p {
      color: #1c1c1c;
      font-weight: 600;
      font-size: 14px;
      margin: 0;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  &:hover .showBox {
    opacity: 1;
    transform: translateX(-100%) translateY(0);
  }
}
