.box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px 0; // padding top i bottom
}

.container {
  width: 80vw;

  h1 {
    font-size: 50px;
    color: #1c1c1c;
    margin-bottom: 0;
  }

  p {
    font-size: 23px;
    color: #494949;
  }
}

.productBox {
  display: grid;
  grid-template-columns: auto auto auto; // 3 kolumny na duży ekran
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 1140px) {
    grid-template-columns: auto auto; // 2 kolumny
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // 1 kolumna
    justify-items: center; // produkty wyśrodkowane
  }
}
