.box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 30px;
}
.container {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 30px 0;
    color: #494949;
    font-size: 40px;
    font-weight: 700;
  }
}
.cont2 {
  width: 35vw;
}
.wrapper {
  display: flex;
  border-bottom: solid 1px #333;
  margin-bottom: 30px;

  h3 {
    font-size: 25px;
    margin-right: 20px;
    font-weight: 700;
    color: #333;
  }
  p {
    font-size: 25px;
    color: #333;
  }
}
