.box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 30px 0;
}

.container {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin: 30px 0;
    color: #494949;
    font-size: 40px;
    font-weight: 700;

    @media (max-width: 1024px) {
      font-size: 36px;
    }

    @media (max-width: 768px) {
      font-size: 32px;
    }

    @media (max-width: 480px) {
      font-size: 28px;
    }
  }
}

.cont2 {
  width: 35vw;

  @media (max-width: 1024px) {
    width: 50vw;
  }

  @media (max-width: 768px) {
    width: 70vw;
  }

  @media (max-width: 480px) {
    width: 90vw;
  }
}

.wrapper {
  display: flex;
  border-bottom: solid 1px #333;
  margin-bottom: 30px;

  h3 {
    font-size: 25px;
    margin-right: 20px;
    font-weight: 700;
    color: #333;

    @media (max-width: 1024px) {
      font-size: 22px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  p {
    font-size: 25px;
    color: #333;

    @media (max-width: 1024px) {
      font-size: 22px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}
